## API Credentials
# YES Energy
YES_USERNAME = "something_something@example.com"
YES_PASSWORD = "secure_password"

## Google Cloud 
PROJECT_ID = "your-gcp-project-id-lookup-in-BQ"
DATASET_ID = "your-gcp-dataset-id-lookup-in-BQ"
